APP_ADDR='0.0.0.0'
MYSQL_DSN='blog:123456@tcp(127.0.0.1:3306)/blog?charset=utf8mb4&parseTime=true&loc=Local'
REDIS_ADDR='127.0.0.1:6379'
REDIS_PASSWORD=''
REDIS_DB=0
SESSION_EXPIRE_MINUTES=30
LOGIN_RATE_LIMIT_MAX_ATTEMPTS=5
LOGIN_RATE_LIMIT_WINDOW_MINUTES=10
LOGIN_RATE_LIMIT_BLOCK_MINUTES=15
