/*blog content*/
.main{
    display: flex;     /*使用flexbox布局方式*/
    justify-content: center;    /*水平居中*/
}

.blog{
    display: flex;   /*使用flexbox布局方式*/
    flex-direction: column;    /*将flexbox的方向改为竖直布局方式*/
    background-color: #ddd;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #eee;
    width: 700px;
    height: 500px;

    /*justify-content: center;   /*子元素居中*/
    /*flex-wrap: wrap;
    row-gap: 5px; /* 控制换行间距，例如 5px */
    /* 或者 gap: 5px 0; */
}

.blog_title{
    display: block;
    margin-top: 10px;
    font-size: 200%;
    font-family: 楷体;
    height: 40px;
    width: 600px;
    text-align: center;
    border-radius: 10px;
    background-color: #ccc;
    margin-bottom: 10px;
}

.blog_content{
    background-color: #ccc;
    width: 600px;
    height: 400px;
}