/* 导航栏 */
*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.nav{
	display: flex;
	position: relative;
    height: 80px;
    background-color: #444;
    box-shadow: 0 1px 2px #888;
}

.link {
    display: inline-block; /* 使 link 标签能够应用宽高和变换效果 */
    transition: all 0.1s ease; /* 设置过渡效果，所有属性在 0.1 秒内以 ease 方式变化 */
    color: white; /* 将链接文字颜色设置为白色 */
    text-decoration: none; /* 无下划线 */
    font-size: 1.6em;  /*字体大小*/
    font-family: 幼圆;/*字体*/
    font-weight: bold;
    float: left; /*位置*/
    width: 150px;
    line-height: 80px;
    text-align: center; /*文字位置*/
    border-radius: 5%; /*边界弧度*/
}

.link:hover {
	position: relative; 
	transform-origin: top;
    /*transform: scale(1.2); /* 鼠标悬停时将元素放大 1.2 倍 */
    color: red; /* 鼠标悬停时文字变为红色 */
    background-color: #333;
/* 	top: 10px; */
}

.link_href{
    color:white;
	display: block;   /*确保在非字体位置也能跳转*/
}

.link_href:hover{
    color: red;
    transform: scale(1.2);
}

.link_block{
	color: white;
}

.droplist{
    background-color: #333;
    display: none;
	position: absolute;
    border-radius: 5%;
}

.link2{
    transition: all 0.1s ease;
}

.link2:hover{
    background-color: #666;
    border-radius: 5%;
}

.link:hover .droplist{
	position: relative;
    z-index: 1000;
    display: block;
}


/*内容*/
.content{
	display: flex;
	height: 20px;
    line-height: 0px;
    position: relative;
}
