<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
</head> 
<body>
   <div class="nav">
   <ul>
        <li class="link"><a href="index.php" class="link_href">首页</a></li>
        <li class="link"><a href="shuoshuo.php" class="link_href">说说</a> </li>
        <li class="link"><a href="dongman.php" class="link_href">动漫</a></li>
        <li class="link"><a href="" class="link_block">关于我</a>
			<ul class="droplist">
				<li class="link2"><a href="#" class="link_href">个人成就</a></li>
			</ul>
		<li class="link"><a href="" class="link_block">CTF</a>
			<ul class="droplist">
				<li class="link2"><a href="writeup/index.html" class="link_href">write up</a></li>
			</ul>
        </li>
    </ul>     
    </div>
    <p>&nbsp;</p>
    <p class="content"> 该网页用于测试 </p>
    <div class="main">
        <div class="blog-list">
            {{range .blogs}}
            <div class="blog">
                <div class="blog_title">
                    {{ .Title }}
                </div>
                <div class="blog_content">
                    {{ .Content }}
                </div>
            </div>
            {{end}}
		</div>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</body>
</html>