<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/registerLogin.css">
</head>
<body>
    <!-- 导航栏 -->
    <div class="nav">
        <ul>
            <li class="link"><a href="index.php" class="link_href">首页</a></li>
            <li class="link"><a href="shuoshuo.php" class="link_href">说说</a> </li>
            <li class="link"><a href="dongman.php" class="link_href">动漫</a></li>
            <li class="link"><a href="" class="link_block">关于我</a>
                <ul class="droplist">
                    <li class="link2"><a href="#" class="link_href">个人成就</a></li>
                </ul>
            </li>
            <li class="link"><a href="" class="link_block">CTF</a>
                <ul class="droplist">
                    <li class="link2"><a href="writeup/index.html" class="link_href">write up</a></li>
                </ul>
            </li>
        </ul>
    </div>
    
    <p>&nbsp;</p>

    <!-- 注册表单 -->
    <div class="register-container">
        <h2>{{.Title}}</h2>
        <form method="POST" action="/register">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required placeholder="Enter your username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required placeholder="Enter your password">
            </div>
            <div class="form-group">
                <button type="submit">Register</button>
            </div>
			<a href="/login">点此跳转到登录界面</a>
        </form>
    </div>

</body>
</html>